
.feedback
	margin-top 70px

.feed_ground
	background-image url('/static/img/feedback/mount.jpg')
	background-attachment fixed
	background-position center center
	background-repeat no-repeat
	background-size cover
.feed_overlay
	background-color rgba(15,155,224, 0.78);	
	.feed
		color #fff
		&:after
			border-bottom 1px solid #fff

		
.user_photo
	margin 0

.feed
	display flex
	flex-direction column
	align-items center
	color #fff
	cursor ew-resize
	margin 0 12%
	//

	h3
		font-weight: 700;
		margin-bottom 20px;
		text-transform uppercase
		text-align center
	p	
		line-height 25px

	.icon-quote_open, .icon-quote_close		
		fill #fff
		size(50px, 50px)

	.icon-quote_open
		align-self flex-start
	.icon-quote_close
		align-self flex-end

	.slider_arrow
		justify-content center


.slider_arrow
	margin 0 auto
	padding-bottom 50px
	justify-content center
