// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

//Загрузка
@import "./components/loader.styl"

// About
@import "./components/about.styl"

// Info
@import "./components/service.styl"

// Photos
@import "./components/photos.styl"

// Feedback
@import "./components/feedback.styl"