extends ../layout/main

block variables
	- var title = 'ECXEL - Это легко'
	- var pageClass = 'index-page'

block content
	include index/about
	include index/service
	include index/photo
	include index/feedback

