@media (max-width: 1200px)
	.container
		width: 920px;



@media (max-width: 952px)
	.container
		width: 750px;
	.header_nav
			display block

	
@media (max-width: 840px)
	.container
		width: 90%
	h2.header_title
		font-size: 6vw
	.title_span
		font-size: 3vw
	.header_menu
		flex-direction column
		
		.header_nav
			display none
			width 100%
			ul
				flex-direction column
				li
					padding 10px 5px
					text-align: center
					a
						padding 10px 0	
	.unvis
		display none
	.navbar-toggle
		display block
		align-self flex-end
	.about
		flex-direction column
	.slide_wrapper
		width 100%
	.about_right
		width: 100%;
		
	.about_right
		padding-top 30px
		margin-left: 0
		
	.about_right_line
		margin-bottom: 15px;
		

	.service_item
		width 50%
	




	


@media (max-width: 468px)
	.service_item
		width 100%
	.service_item-title
		text-align left
		margin-left: 15px