
.header_menu
	padding 5px 0
	z-index 2
	display flex
	align-items center
	justify-content flex-end	
	.header_nav
		ul.menu
			display flex	
		li
			cursor pointer
			text-transform uppercase
						
			transition: all 0.3s ease-out 0s;
			&:hover
				background-color #000		
			a
				display: block;
				padding 15px 20px
				color: #fff;
				font-size: 15px
.line
		display none
		width 100%
		height 2px
		background #000
		box-shadow: 0 1px #888888;
		margin 10px

.navbar-toggle
	cursor pointer
	padding 5px 10px
	display none
	border 2px solid #ffffff
	border-radius 4px
	.navline
		width: 30px
		height: 2px
		background-color #ffffff
		margin: 5px 0
		transition: 0.4s
		
.change .bar1
	transform rotate(-45deg) translate(-5px, 6px)
.change .bar2
	opacity 0
.change .bar3
	transform rotate(45deg) translate(-4px, -5px)