#about.about_wrapper
	.container
		.about
			.slide_wrapper.wow.fadeInLeft
				.about_slider
					.slide
						.about_title О КУРСЕ
						.about_slider_text
							p1 Если Вы хотите в сжатые сроки гарантированно освоить Excel, обучение у меня - то что Вам нужно!
							br
							br
							p2 Для тех, кому нужно быстро освоить основные приемы работы в Microsoft Excel и для тех, кто научился работать  "методом научного тыка" и хочет систематизировать свои знания и умения.  Также для тех, кто понимает, что многие простые операции можно делать быстрее и проще чем приходиться делать сейчас. 
					.slide
						.about_title Что будем уметь делать:
						.about_slider_text Настроить Microsoft Excel так, чтобы работать в нем стало удобно. Правильно и быстро вводить, копировать, перемещать и форматировать данные. Делать расчеты, используя функции, связывать данные с разных листов, создавать формулы с использованием нескольких функций. Быстро и правильно фильтровать и сортировать информацию. Использовать приемы визуализации. Правильно и красиво выводить информацию на печать,а также защищать таблицы от некорректных правок.
				.slider_arrow
					.arr_prev
						+icon("l-arr")
					.arr_next
						+icon("r-arr")

			.about_right.wow.fadeInRight
				.about_title ДОБРО ПОЖАЛОВАТЬ В МИР EXCEL
				.about_right_line
					img(align="left" src="./static/img/about/my_photo.jpg", alt="").user_photo
					.line_text Имею огромный опыт преподавания. В совершенстве владеет программами MS Office. В ообщении - очень комфортный человек, с отличным чувством юмора. Предпочитаю легко и приятно общаться.
				.prime_button
					span читать больше

