#feedback.feedback
	.feed_ground
		.feed_overlay
			.section_title
				h2.feed.wow.fadeInDown отзывы слушателей
			.feed_slider
				.slide
					.feed
						img(src="./static/img/feedback/user_1.jpg", alt="").user_photo
						+icon("quote_open").open
						h3 отзыв
						p К сожалению, слушатели не оставили отзывов по данному курсу, вы можете оставить отзыв, либо ознакомится со всеми отзывами о нашей работе.
						+icon("quote_close").close

				.slide
					.feed
						img(src="./static/img/feedback/user_1.jpg", alt="").user_photo
						+icon("quote_open").open
						h3 отзыв
						p К сожалению, слушатели не оставили отзывов по данному курсу, вы можете оставить отзыв, либо ознакомится со всеми отзывами о нашей работе.
						+icon("quote_close").close

			.slider_arrow
					.arr_prev
						+icon("l-arr")
					.arr_next
						+icon("r-arr")