#photo.photo
	.container
		.section_title
			h2.wow.fadeInDown фотогалерея
			p.wow.bounceInRight Мы всегда можем видеть экраны друг друга. SKYPE дает нам такую возможность
		.photo_items.wow
			img(src="static/img/photos/item1.jpg", alt="").photo_item
			img(src="static/img/photos/item2.jpg", alt="").photo_item
			img(src="static/img/photos/item3.jpg", alt="").photo_item
			img(src="static/img/photos/item4.jpg", alt="").photo_item
			img(src="static/img/photos/item5.jpg", alt="").photo_item
			img(src="static/img/photos/item6.jpg", alt="").photo_item

	.modal_zoom
.centered_box
	img.modal_content
